BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
InsertNewlineAtEOF: true

BreakBeforeBraces: Attach 

# Indentation and alignment
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 4

# Init in constructor
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: NextLine

# Short constructs
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false

# Sort includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 2

# Restrict transfer function return type in declaration
AlwaysBreakAfterReturnType: None

# Restrict transfer function return type in definition
AlwaysBreakAfterDefinitionReturnType: None
